
<h1>AAA School</h1>
<div class="school_info">
<p><img src="https://thumb.photo-ac.com/ac/ace7e542508bd29aac6fd430d89732f2_w.jpeg" alt="学校の画像"></p>
    <h2>学校情報</h2>
        <dl>
            <dt>住所</dt>
            <dd>大阪府</dd>
            <dt>偏差値</dt>
            <dd>50</dd>
        </dl>
</div>
<div class="box">
    <dt id="blue">a</dt>
    <dt>b</dt>
    <dt>c</dt>
    <dt>d</dt>
</div>
<div class="overview">
    <dt>概要</dt>
    <dd>AAA Schoolはxxxx年に設立された大阪府の高校で
    屈指の進学校で知られている。有名人としてooooさんやooooを輩出している。</dd>
</div>
<h3>検索</h3>
<div class="toggle_button">
  数学
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  化学
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  物理
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  生物
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  歴史
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  地理
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  公民
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  国語
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
  英語
  <input id="toggle" class="toggle_input" type='checkbox' />
  <label for="toggle" class="toggle_label"/ >
</div>
<h3>投稿一覧</h3>
<%= link_to "新規投稿へ", new_board_path %>
<div class="boards-container">
<% @boards.each do |t| %>
    <div class="board">
        <b><%= t.title %></b>
        <p><%= t.subject %>
        <%= t.grade %></p>
        <%= t.body %>
        <%= t.created_at %>
        <%= link_to "詳細へ", board_path(t.id) %>
        <%= link_to "編集する", edit_board_path(t.id) %>
        <%= button_to "削除する", board_path(t.id), method: :delete %>
    </div>
<% end %>
</div>